@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import './base.css';

/* Adicione no seu main.css ou no topo do <style> global do App.vue */
a {
    text-decoration: none;
}

* {
    font-family: 'Roboto', sans-serif;
}
html, body, #app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  font-style: normal;
  margin-top: 6rem; /* Espaço para o header fixo */
}
button {
  font-weight: 400;
  font-style: normal;
}


